/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header{
  width: 100vw;
  height: 75vh;
  background-color: #4617fe;
}

nav{
  display: flex;
  align-items: center;
  float: right;
  color: #e3dcfe;
  font-size: 13px;
  margin: 25px 8%;
}

.nav-item{
  padding: 0 12px;
}

.nav-item-active{
  background-color: #ffffff;
  color: #4515fe;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
}

nav svg{
  width: 40px;
  height: 40px;
}

.logo{
  margin: 50px 60px;
}

.header-image{
  position: absolute;
  right: 0;
  top: 15vh;
}

.header-text{
  line-height: 50px;
  margin: 20px 60px;
  color: #ffffff;
}

.header-text h2{
  font-size: 2rem;
}

.header-text p{
  font-weight: 100;
  font-size: 15px;
}

.companies{
  margin: 40px 20px;
  font-family: "Righteous";
}

.companies a{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0 15px;
}

.api{
  margin-top: 10%;
  margin-left: 60px;
  margin-right: 60px;
}

.cards{
  margin: 7% 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-body{
  font-size: 12px;
}

.blog-heading{
  margin: 0 60px;
}

.blog-cards{
  margin: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card-right{
  margin-left: 35px;
}

.blog-content h6{
  color: #6b46fd;
  font-weight: 900;
}

.blog-content h3{
  font-weight: 900;
}

.bottom-one{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-author{
  margin: 0 5px;
  font-size: 12px;
  padding-bottom: 25px;
}

.faq-section{
  margin-left: 60px;
  margin-top: 5%;
  display: flex;

}

.faq-content h2{
  font-weight: 900;
  font-size: 2rem;
}

.faq-content h4{
  font-weight: 100;
  font-size: 12px;
  padding: 15px 0;
}

.question{
  font-size: 25px;
  font-weight: 500;
}

.faq-content button{
  background-color: #5a31fc;
  font-size: 12px;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  color: white;
}

.download-section{
  margin-left: 60px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-content h1{
  font-weight: 900;
}

.download-content h1 span{
  font-weight: 100;
}

.download-email{
  margin: 0 40px;
}

.download-email input{
  border: none;
  padding-right: 10rem;
}

.download-email button{
  background-color: #5a31fc;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
}

.footer-section{
  margin-top: 5%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  background-color: #4718fe;
  color: white;
}

.footer-left{
  margin: 7% 0;
}

.list{
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.list li{
  padding: 0 20px;
  font-size: 12px;
}

.list li:nth-child(3), .list li:nth-child(4), .list li:nth-child(5){
  border-left: 1px solid white;  
}

.logos-list{
  display: flex;
  margin-top: 25px;
}

.logos-list li{
  font-size: 12px;
  padding: 0 15px;
}

.logos-list li:nth-child(2), .logos-list li:nth-child(3){
  border-left: 1px solid white;
}

.footer-right-main{
  margin-left: 40%;
}

.footer-logos{
  margin: 0 10px;
}

/* Mobile Responsivness */
@media only screen and (max-width: 600px) {
  header{
    height: auto;
    padding-top: 15px;
  }
  
  nav{
    padding: 0 10px;
    margin: 0;
    justify-content: center;
  }
  
  .nav-item{
    padding: 0;
    margin-right: 5px;
  }
  
  nav svg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    font-size: 10px;
  }

  nav-item-active{
    padding: 5px;
    font-size: 10px;
  }
  
  .logo{
    width: 50px;
    height: 20px;
    margin: 0 5px;
  }
  
  .header-image{
    position: static;
    height: 400px;
    width: 98vw;
  }
  
  .header-text{
    text-align: center;
    line-height: 40px;
    margin: 5px;
  }
  
  .header-text h2{
    font-size: 1.8rem;
  }

  .companies{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .companies a{
    font-size: 1rem;
    padding: 0 5px;
  }
  
  .api{
    margin: 0 5px;
    text-align: center;
  }

  .api h1{
    font-size: 1.8rem;
  }
  
  .cards{
    margin: 0px 5px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .blog-heading h1{
    text-align: center;
    font-size: 1.8rem;
  }
  
  .blog-heading{
    margin: 10px 0;
  }

  .blog-image img{
    width: 95vw;
    height: 300px;
  }
  
  .blog-cards{
    margin: 0;
    justify-content: center;
    flex-direction: column;
  }
  
  .blog-card{
    justify-content: center;
    flex-direction: column;
  }
  
  .blog-card-right{
    margin: 0;
    width: 100vw;
    text-align: center;
  }
    
  .bottom-one{
    margin-top: 10px;
  }  

  .faq-section{
    margin: 20px 10px;
    flex-direction: column-reverse;
  }

  .faq-image img{
    width: 95vw;
  }
  
  .faq-content h2{
    font-size: 1.8rem;
  }
  
  .faq-content h4{
    padding: 5px 0;
  }

  .download-section{
    margin: 10px ;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .download-email{
    width: 100%;
    margin: auto;
  }
  
  .download-email input{
    margin: 10px auto;
    padding: 0;
    padding-left: 20%;
  }
  
  
  .footer-section{
    padding: 0;
    flex-direction: column;
  }
  
  .footer-left{
    margin: 7% 0;
  }
  
  .list{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .list li{
    padding: 0 8px;
  }

  .footer-right-main{
    margin: 0;
  }

  .logos-list{
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  
  .logos-list li{
    font-size: 12px;
    padding: 0 15px;
  }
  
  .footer-logos{
    margin: 0 10px;
  }

}
